<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>Celestial NAS | Network</title>
<link rel="shortcut icon" href="/static/IMG/elecom-meta-icon.png" />
    <link rel="stylesheet" type="text/css" href="/static/css/stylesheet.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/dialog-css.css" />
    <link type="text/css" rel="stylesheet" href="/static/css/ui.switchbutton.min.css" />
    <link type="text/css" rel="stylesheet" href="/static/css/demo.css" />
    <link type="text/css" rel="stylesheet" href="/static/css/jquery-ui.min.css" />
    <link type="text/css" rel="stylesheet" href="/static/css/pqgrid.min.css" />

    <script type="text/javascript" src="/static/js/lib/jquery-2.1.4.min.js"></script>
    <script type="text/javascript" src="/static/js/lib/jquery.tmpl.min.js"></script>
    <!--<script type="text/javascript" src="../js/lib/jquery-ui-1.8.16.custom.min.js"></script>-->
    <script type="text/javascript" src="/static/js/lib/jquery-ui.min.js" ></script>
    <script type="text/javascript" src="/static/js/lib/jquery.switchbutton.min.js"></script>
    <script type="text/javascript" src="/static/js/lib/pqgrid.min.js" ></script>
    <script type="text/javascript" src="/static/js/lib/demo.js"></script>
    <script type="text/javascript" src="/static/js/lib/jquery.dform-1.1.0.js"></script>
    
    <script type="text/javascript" src="/static/js/network.js" ></script>

</head>

<body>
<div class="body-div">
	<div class="header-div">
    	
    	<div class="faq" align="right">
        	 <a href="#"><img src="/static/IMG/faq1.png"></a>
            <a href="#"><img src="/static/IMG/infom.png"></a>
            <a href="#"><img src="/static/IMG/login1.png"></a>
        </div>
      </div>
</div>
        <!--main content-->
        <div class="main-body">
        	<div class="rolling-nav">
            	<div class="setting">
                <a href="#"><img src="/static/IMG/setting1.png" title="Easy Admin"></a>
                </div>
                    <div class="tune">
                    <a href="#"><img src="/static/IMG/tune1.png" title="Click Here and this TeraStation will beep"></a>
                    </div>
                    	<div class="name">
                		<p style="font-family: Arial, sans-serif;font-size:14px;">Name : TS5200D4E1 (TS5200D)</p>
                		</div>
                        	<div class="admin">
                                <a href="#"><img src="/static/IMG/admin.png">admin</a>
                                </div>
                                
                                	<div class="language">
                                 <form><img src="/static/IMG/chat1.png"> <label>Language : </label><select><option>English</option><option>Japanese</option></select></form>
                                </div>
                                	<div class="logout">
                                <a href="/logout/"><img src="/static/IMG/logout1.png"> Logout</a>
                                </div>
				
            </div>
    	</div>
        
        <!--left content-->
        <div class="left-content">
        	<div class="left-list"  id="left-element" align="left">
            	<ul>
                	<li><a href="/filesharing/"><img src="/static/IMG/filesharing.png"><span style="padding:0 10px;">File Sharing</span></a></li>
                    <li><a href="/drives/"><img src="/static/IMG/drives.png"><span style="padding:0 10px;">Drives</span></a></li>
                    <li><a href="/services/"><img src="/static/IMG/service.png"><span style="padding:0 10px;">Services</span></a></li>
                    <li><a href="/webservices/"><img src="/static/IMG/webservices.png"><span style="padding:0 10px;">Web Services</span></a></li>
                    <li><a href="/applications"><img src="/static/IMG/application.png"><span style="padding:0 10px;">Applications</span></a></li>
                    <li><a href="/network/"><img src="/static/IMG/network.png"><span class="link-active" style="padding:0 10px;">Network</span></a></li>
                    <li><a href="/backup/"><img src="/static/IMG/backup.png"><span style="padding:0 10px;">Backup</span></a></li>
                    <li><a href="/management/"><img src="/static/IMG/management.png"><span style="padding:0 10px; ">Management</span></a></li>
                    </ul>
                    
            </div>
            
            <div class="right-content" id="right-element">
             	<div class="text"><b>Network</b></div>
                    <div class="form-content" align="center">
                    	<div class="form-one">
                        	<div class="box-one">
                            	<div class="box-img-one"><img src="/static/IMG/folder-setup.png"></div>
                                	<div class="folder-setup">IP Address</div>
                            			<div class="text-one" style="font-size:10px;font-family:Gotham, 'Helvetica Neue', Helvetica, Arial, 			                                         sans-serif;">LAN Port 1 210.189.93.166 <br>
																LAN Port 2 169.254.107.74</div>
                                			<div class="click-button">
                                    			<span onclick="getNetworkDetails()" class="add-ticket">
                                                	<img src="/static/IMG/popup-icon.png" width="15" height="14" title="View" alt="Click" style="vertical-align:inherit;" />
                                                </span>
                                    		</div>
                            </div>
                            
                            <div class="box-one" style="margin-top:2px;">
                            	<div class="box-img-one"><img src="/static/IMG/user.png"></div>
                                	<div class="folder-setup">Workgroup/Domain</div>
                            			<div class="text-one" style="font-size:10px;font-family:Gotham, 'Helvetica Neue', Helvetica, Arial, 			                                         sans-serif;">External Authentication
                                        </div>
                                			<div class="click-button">
                                    			<span onclick="alert(&quot;Helloworld!&quot;)" class="add-ticket">
                                                <img src="/static/IMG/popup-icon.png" width="15" height="14" title="View" alt="Click" style="vertical-align:inherit;" />
                                                </span>
                                    		</div>
                            </div>
                            
                            <div class="box-one" style="margin-top:2px;">
                            	<div class="box-img-one"><img src="/static/IMG/groups.png"></div>
                                	<div class="folder-setup">Port Trunking</div>
                            			<div class="text-one">
                                        </div>
                                			<div class="click-button">
                                    			<span onclick="alert(&quot;Helloworld!&quot;)" class="add-ticket">
                                                	<img src="/static/IMG/popup-icon.png" width="15" height="14" title="View" alt="Click" style="vertical-align:inherit;" />
                                                </span>
                                    		</div>
                            </div>
                            
                            <div class="box-one" style="margin-top:2px;" >
                            	<div class="box-img-one"><img src="/static/IMG/dfs.png"></div>
                                	<div class="folder-setup">Service Port Restrictions</div>
                            			<div class="text-one">
                                        	
                                           </div>
                                			<div class="click-button">
                                    			<span onclick="alert(&quot;Helloworld!&quot;)" class="add-ticket">
                                                	<img src="/static/IMG/popup-icon.png" width="15" height="14" title="View" alt="Click" style="vertical-align:inherit;" />
                                                </span>
                                    		</div>
                            </div>
                            
                            <div class="box-one" style="margin-top:2px;" >
                            	<div class="box-img-one"><img src="/static/IMG/dfs.png"></div>
                                	<div class="folder-setup">SNMP</div>
                            			<div class="text-one">
                                        	<div id="page">
                                            	<input type="checkbox" id="switch9" checked="checked" />
                                             </div>
                                             </div>
                                			<div class="click-button">
                                    			<span onclick="alert(&quot;Helloworld!&quot;)" class="add-ticket">
                                                	<img src="/static/IMG/popup-icon.png" width="15" height="14" title="View" alt="Click" style="vertical-align:inherit;" />
                                                </span>
                                    		</div>
                            </div>
                            
                             <div class="box-one" style="margin-top:2px;" >
                            	<div class="box-img-one"><img src="/static/IMG/afp.png"></div>
                                	<div class="folder-setup">Ping</div>
                            			<div class="text-one">
                                        	
                                             </div>
                                			<div class="click-button">
                                    			<!--<span onclick="alert(&quot;Helloworld!&quot;)" class="add-ticket">
                                                	<img src="/static/IMG/popup-icon.png" width="15" height="14" title="View" alt="Click" style="vertical-align:inherit;" />
                                                </span>-->
                                    		</div>
                            </div>
                            
                            
                            
                            
                           
                            
                            
                        
                            
                        </div>
                    </div>
            </div>
        </div>
 <!--footer section-->  
<div id="footer">
				<div class="footer-copy">
                	© 2001-2015 Celestial Systems Pvt. Ltd. All Rights Reserved
                </div>

	 			<div class="footer-text" align="right">
                    <a  href="#">Terms of Use</a>
                    <span style="color:#FFFFFF;">|</span>
                    <a href="#">Privacy Policy</a>
                    <span style="color:#FFFFFF;">|</span>
                    <a href="#">Contact Us</a>
                </div>
</div>

<div title="Network" id="network-grid">
    <div id="network-details"></div>
</div>

<script type="text/javascript">
$('#left-element').css('height',$('#right-element').css('height'))
</script>


</body>
</html>
